<%= form_with model: @entry,  html: { multipart: true }, Local: true do |form| %>
 
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@entry.errors.count, "error") %> prohibited
        this entry from being saved:
      </h2>
      <ul>
        <% @entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

    <h3><%= form.label :title %>
    <%= form.text_field :title %></h3>

    <h3><%= form.label :date %>
    <%= form.date_field :date %></h3>

  
    <h3><%= form.label :image %></h3>
    <%= form.file_field :image %>
 
    <h3><%= form.label :content %></h3>
    <%= form.text_area :content %>

    <p>
      <%= form.submit %>
    </p>

<% end %>

<br>