<h1>Blog Entries</h1>

<% if user_signed_in? %>
  <%= link_to 'New blog entry', new_entry_path %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Image</th>
    <th>Content</th>
  </tr>
 
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.title %></td>
      <td><%= entry.date %></td>
      <td><%= entry.image %></td>
      <td><%= entry.content %></td>
      <td><%= link_to 'Show', entry_path(entry) %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Delete', entry_path(entry),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>