<main class="contFlexItem marginlessMain">
  <div class="flexContainer">
    <div class="flexHeight flexRow">

      <% @entries.each do |entry| %>

        <%= link_to entry_path(entry) do %>
          <div class="blogPic">
            <%= image_tag entry.image_url.to_s, alt: entry.title %>
          </div>
        <% end %>

        <div class="everythingElse">
          <h1>
            <%= link_to entry.title, entry_path(entry) %>
          </h1>

          <%= entry.date.strftime('%B %w, %Y') %>

          <p>
            <%= markdown entry.content %>
          <p>
          <%= link_to 'Show', entry_path(entry) %>
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_entry_path(entry) %>
            <%= link_to 'Delete', entry_path(entry),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'New', new_entry_path %>
          <% end %>
          <br>

        </div>

      <% end %>

                <%= will_paginate @entries %>
      
    </div>
  </div>
</main>


