<% if user_signed_in? %>
  <%= link_to 'New Entry', new_entry_path %>
<% end %><br>
<%= link_to 'Show All', entries_path %>
<br>

<%= @entry.image %>
<h1>
  <%= @entry.title %>
</h1>
<%= @entry.date.strftime('%B %w, %Y') %><br>
<%= markdown @entry.content %><br>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_entry_path(@entry) %>
  <%= link_to 'Delete', entry_path(@entry),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>

<br>
<!-- Share on Facebook -->
<a onclick="javascript:window.open('http://www.facebook.com/sharer/sharer.php?u=<%= request.original_url  
  %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">Facebook</a>
<br>
