<div class="flexContainer">
  <div class="flexHeight">
  <!-- 
    <% if user_signed_in? %>
      <%= link_to 'New Project', new_project_path %>
    <% end %>



    <% @projects.each do |project| %>
      <%= project.image %>
      <div class="pr-index-titles">
        <h1>
          <%= link_to project.title, project_path(project)%>
        </h1>
      </div>
      <%= project.description %>
      <br>
    <% end %>  --> 

<ul id="hexGrid">
  <% if user_signed_in? %>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="<%= new_project_path %>">
          <img src="" />
          <p>New Project</p>
        </a>
      </div>
    </li>
    <% end %>
    <% @projects.each do |project| %>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="<%= project_path(project) %>">
          <img src="<%= project.image %>" />
          <p><%= project.title %></p>
        </a>
      </div>
    </li>
    <% end %>
    </ul>
  </div>
</div>


