<h1>Projects</h1>

<% if user_signed_in? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
<br>
<% @projects.each do |project| %>

  <%= project.title %><br>
  <%= project.link %><br>
  <%= project.image %><br>
  <%= project.description %><br>
  <%= link_to 'Show', project_path(project) %><br>
  <%if user_signed_in? %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Delete', project_path(project),
          method: :delete,
          data: { confirm: 'Are you sure?' } %><br>
  <% end %>

<% end %>
