<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page">

    




  	<header>
  	</header>

    <div class="pageContent">
      <nav class="navFlexContainer">
        <ul class="nav navFlexItem1 navSubContainer">
          <li><%= link_to "Logo", root_path %></li>
          <li><%= link_to "HollyLeary", root_path %></li>
        </ul>
        <ul class="nav navFlexItem2 navSubContainer">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Blog", entries_path %></li>
          <li><%= link_to "About", "#" %></li>
          <li><%= mail_to "schleary@gmail.com", "Contact" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "SignOut", destroy_user_session_path, method: :delete%></li>
          <% end %>
        </ul>
      </nav>

      <div class="content contFlexContainer">
        <main class="contFlexItem main">
          <!-- Added at behest of Devise -->
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

            <%= yield %>

        </main>

        <aside class="sidebar sidebarLeft">         
        </aside>

        <aside class="sidebar sidebarRight">          
        </aside>
      </div>
    </div>

    <footer class="footFlexContainer">
      <ul class="footer footFlexItem1 footSubContainer">
        <li>&copy 2018 Holly Leary</li>
      </ul>
      <ul class="footer nav footFlexItem2 footSubContainer">
        <li><%= mail_to "schleary@gmail.com", "Contact" %>
        <li><a href="https://www.linkedin.com/in/holly-leary-63138766/" target="_blank">LinkedIn</a>
        <li><a href="https://www.adadevelopersacademy.org/" target="blank">Ada</a>
        <li><a href="https://github.com/schleary" target="_blank">GitHub</a>
      </ul>
    </footer>

  </body>
</html>
