<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  </head>

  <body class="page">

  	<header>
  	</header>

    <div class="pageContent">
      <nav class="navFlexContainer">
        <div class="berry">
          <%= link_to image_tag("berry.png", height: '75em;'), root_path %>
        </div>
        <ul class="nav berryName navFlexItem1 navSubContainer">      
          <li><%= link_to "HollyLeary", root_path %></li>
        </ul>
        <ul class="nav navFlexItem2 navSubContainer">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Blog", entries_path %></li>
          <li><%= link_to "About", about_index_path %></li>
          <!-- <li><%= link_to "Contact", contacts_path %></li> -->
          <!-- <li><%= mail_to "schleary@gmail.com", "Contact" %></li> -->
          <% if user_signed_in? %>
            <li><%= link_to "SignOut", destroy_user_session_path, method: :delete%></li>
          <% end %>
        </ul>
      </nav>

      <div class="content contFlexContainer">

          <!-- Added at behest of Devise -->
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p> 

            <%= yield %>


        <aside class="sidebar sidebarLeft">         
        </aside>

        <aside class="sidebar sidebarRight">          
        </aside>
      </div>
    </div>

    <footer class="footFlexContainer">
      <ul class="footer footFlexItem1 footSubContainer">
        <li>&copy 2018 Holly Leary</li>
      </ul>
      <ul class="footer nav footFlexItem2 footSubContainer">
        <li><%= mail_to "schleary@gmail.com", "Contact" %>
        <li><a href="https://www.linkedin.com/in/holly-leary-63138766/" target="_blank">LinkedIn</a>
        <li><a href="https://www.adadevelopersacademy.org/" target="blank">Ada</a>
        <li><a href="https://github.com/schleary" target="_blank">GitHub</a>
      </ul>
    </footer>

    <script id="dsq-count-scr" src="//hollyleary.disqus.com/count.js" async></script>
  </body>
</html>
