<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<a href="#"></a>
  	</header>
  	<nav>
		<%= link_to "Home", root_path %>
		<%= link_to "Projects", projects_path %>
		<%= link_to "Blog", entries_path %>
		<% if user_signed_in? %>
		<%= link_to "Contact", contacts_path %>
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete%>
		<% end %>
    </nav>

	<!-- Added at behest of Devise -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>    
		<a href="https://github.com/schleary" target="_blank">GitHub</a>
		<a href="https://www.linkedin.com/profile/view?id=233832133&trk=nav_responsive_tab_profile_pic" target="_blank">LinkedIn</a>
		<a href="https://twitter.com/schleary" target="_blank">Twitter</a>
	</footer>

  </body>
</html>
